<div class="publications">
  {% bibliography --query @*[selected=true]* --sort_by selected_order,year,month --order ascending --group_by none %}
</div>

{% comment %} <div class="publications">
  {% bibliography --group_by none --sort_by selected_order,year,month --query @*[selected=true]* %}
</div>
 {% endcomment %}